# App
WEB_PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3309
DB_NAME=financeapp
DB_USER=financeuser
DB_PASSWORD=financepass
DB_ROOT_PASSWORD=root
DB_CONTAINER_NAME=financeapp_db

# Auth
CRON_SECRET=change_me
